@import "../../assets/styles/variables.scss";

.navbar {
  z-index: 2;
  transition: all 0.2s ease-in-out;
  .container-fluid {
    z-index: 2;
    .collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            border-radius: 5px;
            &:hover {
              background-color: $light-red;
            }
          }
        }
        .search-item {
          position: relative;
          .search {
            width: 20rem;
            outline: none;
            border: 1px solid #a70000;
          }
          .search-icon {
            position: absolute;
            top: 0.3rem;
            right: 0.7rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
