section {
  height: 60vh;
  width: 100%;
  background: url(../../assets/images/bg-red.jpg) no-repeat no-repeat center;
  background-size: cover;
  position: relative;
}

.overlay {
  height: 60vh;
  width: 100%;
  background: transparent linear-gradient(45deg, #a70000 0%, #ff5252 100%) 0 0
    no-repeat padding-box;
  opacity: 0.7;
  position: absolute;
  top: 0;
}
.banner-text {
  position: absolute;
  top: 25vh;
}
